<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lorem Ipsum Generator</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
		
		<div class="display">
				<a href="/loremipsumgen"><h1>LOREM IPSUM GENERATOR</h1></a>
				<br><br>
<form action="#" th:action="@{/loremipsumgen}" th:object="${lorem}" method="post">
    <input type="radio" th:field="*{genType}"name="generatorType" value="1"> <text class="loremlist">Standard Lorem</text>
    <input type="radio" th:field="*{genType}"name="generatorType" value="2"> <text class="loremlist">Samuel L jackson Lorem</text><br>
	<p>NUMBER OF PARAGRAPHS: <br><input type="text" th:field="*{id}" /></p>

	<p><input type="submit" value="SUBMIT" /></p>

	
</div>
</form>
</body>
</html>