<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lorem Ipsum Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
        <div class="display">
				<a href="/loremipsumgen"><h1>LOREM IPSUM GENERATOR</h1></a>
				<br><br>
<textarea th:text="${loremIpsumGenerator.lorem}"/>
        <br><br><a href="/loremipsumgen">GO BACK</a></div>
</body>
</html>